//******************************************************************************
//  #BOOTSTRAP GRID CONFIGURATION
//******************************************************************************

$grid-columns : 12;
$grid-gutter-width-base : 30px;

$grid-gutter-widths : (
  xs: $grid-gutter-width-base, // 30px
  sm: $grid-gutter-width-base, // 30px
  md: $grid-gutter-width-base, // 30px
  lg: $grid-gutter-width-base, // 30px
  xl: $grid-gutter-width-base // 30px
);

$grid-breakpoints : (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths : (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);
