<div class="row">
  <div class="col">
        <h2>Here are some links to help you start: </h2>
        <ul>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
          </li>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
          </li>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
          </li>
          <li>
            <h2><a target="_blank" rel="noopener" href="https://angular.io/guide/styleguide">Angular styleguide</a></h2>
          </li>
        </ul>
    </div>
    <div class="col">
        <h2>Examples of available integrations</h2>
        <p-button label="PrimeNG button" ></p-button>
        <a target="_blank" rel="noopener" href="https://www.primefaces.org/primeng">PrimeNg - User interface Suite</a>
        <h3>Integrated layout</h3>
        <a target="_blank" rel="noopener" href="https://getbootstrap.com/docs/4.0/layout/grid/">Bootstrap 4 grid</a>
    </div>
</div>
