
<button (click)="redirigeFirma($event)">Firma Digital</button>

<!-- <div *ngIf="solicitud">
  <form action="{{ solicitud.url }}" method="{{ solicitud.method }}">
    <input *ngFor="let item of solicitud.formData"
        name="{{ item.name }}" type="hidden" value="{{ item.value }}">
    <button type="submit" [disabled]="error"><ng-content></ng-content></button>
  </form>
</div> -->
<div *ngIf="error != ''">
  {{ error }}
</div>
